# Ambiente Virtual
# Impede que a pasta do ambiente virtual (com todas as bibliotecas) seja enviada.
.venv
venv/
env/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Pasta de instância do Flask
# Usada para armazenar arquivos que não devem ser versionados, como bancos de dados ou chaves secretas.
instance/
